{% extends "base/base.html" %}

{% block content %}

<main class="container py-4 d-flex flex-column justify-content-between" style="min-height: 80vh;">
    <div class="flex-column align-items-center">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>Editar Perfil:</h1>
        </div>
        <form method="POST" action="{% url "actualizar_perfil" %}" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h2 class="h4 mb-0">Información personal</h2>
                </div>
                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                    <div class="col-sm-6">
                        <label class="form-label" for="codigo">Código:</label>
                        <input class="form-control" type="text" name="codigo" value={{ user.codigo }} id="codigo" maxlength="8" placeholder="Código" required>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="email">Email:</label>
                        <input class="form-control" type="email" name="email" value={{ user.email }} id="email" placeholder="Email" required>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="nombre">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" value={{ user.nombre }} id="nombre" maxlength="50" placeholder="Nombre" required>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="apellidos">Apellidos:</label>
                        <input class="form-control" type="text" name="apellidos" value={{ user.apellidos }} id="apellidos" maxlength="100" placeholder="Apellidos" required>
                    </div>
                    {% if user.es_estudiante == True %}
                    <div class="col-sm-6">
                        <label class="form-label" for="carrera">Carrera:</label>
                        <select class="form-select" name="carrera" id="carrera">
                            <option value="{{ estudiante.carrera }}">{{ estudiante.carrera }}</option>
                            <option value="Arquitectura">Arquitectura</option>
                            <option value="Administración">Administración</option>
                            <option value="Contabilidad y Finanzas">Contabilidad y Finanzas</option>
                            <option value="Economía">Economía</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Negocios Internacionales">Negocios Internacionales</option>
                            <option value="Comunicación">Comunicación</option>
                            <option value="Derecho">Derecho</option>
                            <option value="Ingeniería Civil">Ingeniería Civil</option>
                            <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                            <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
                            <option value="Psicología">Psicología</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="ciclo">Ciclo:</label>
                        <select class="form-select" name="ciclo" id="ciclo">
                            <option value="{{ estudiante.ciclo }}">{{ estudiante.ciclo }}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    {% elif user.es_profesor == True %}
                    <div class="col-sm-6">
                        <label class="form-label" for="profesion">Profesión:</label>
                        <input class="form-control" type="text" name="profesion" value={{ profesor.profesion }} id="profesion" maxlength="100" placeholder="Profesión" required>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="centro_laboral">Centro Laboral:</label>
                        <input class="form-control" type="text" name="centro_laboral" value={{ profesor.centro_laboral }} id="centro_laboral" maxlength="100" placeholder="Centro Laboral" required>
                    </div>
                    {% endif %}
                    <div class="col-12 d-flex justify-content-end pt-3">
                        {% if user.es_estudiante == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil" %}">Cancelar</a>
                        {% elif user.es_profesor == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil" %}">Cancelar</a>
                        {% endif %}
                        <button class="btn btn-success px-4 py-2">Guardar Cambios</button>
                    </div>
                    {% if error %}
                    <div class="toast-container position-fixed top-0 end-0 pt-5 mt-5">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                            <div class="toast-header">
                                <svg class="bd-placeholder-img rounded me-2" width="20" height="20" aria-hidden="false">
                                    <rect width="100%" height="100%" fill="#ff2c2c"></rect>
                                </svg>
                                <strong class="me-auto">Error de validación de datos</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body" style="color:red">
                                {{ error }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <form method="POST" action="{% url "cambiar_imagen" %}" enctype="multipart/form-data" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h2 class="h4 mb-0">Imagen de perfil</h2>
                </div>
                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                    <div class="d-flex align-items-center">
                        <div>
                            <a id="profileImageLink" 
                                class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0" 
                                style="width: 200px; height: 200px; background-size: cover; background-position: center; background-image: url({% if user.imagen %} {{ user.imagen.url }} {% else %} https://imgur.com/CuXg45K.jpg {% endif %});" 
                                aria-label="Cambiar imagen de perfil">
                            </a>
                        </div>
                        <div class="ps-3">
                            <div>
                                <h3 class="h6 mb-1">Imagen de perfil</h3>
                                <p class="fs-sm text-body-secondary mb-0">La imagen debe estar en formato PNG o JPG y no debe ser mayor a 5MB.</p>
                            </div>
                            <div class="mt-3">
                                <label class="btn btn-outline-primary me-2" for="profileImageInput">Subir imagen</label>
                                <input type="file" id="profileImageInput" name="imagen" accept="image/*" style="display: none;" onchange="previewImage(event)">
                                <button type="button" class="btn btn-outline-danger" onclick="setDefaultImage(event)">Quitar imagen</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end pt-3">
                        <div>
                            {% if user.es_estudiante %}
                            <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil" %}">Cancelar</a>
                            {% elif user.es_profesor %}
                            <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil" %}">Cancelar</a>
                            {% endif %}
                            <button class="btn btn-success px-4 py-2" onclick="handleFormSubmit()">Guardar Cambios</button>
                        </div>
                    </div>
                    {% if error1 %}
                        <h5 class="text-center mt-3" style="color:red">{{ error1 }}</h5>
                    {% endif %}
                </div>
            </div>
        </form>
        <form method="POST" action="{% url "cambiar_contrasena" %}" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h2 class="h4 mb-0">Cambiar contraseña</h2>
                </div>
                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                    <div class="col-sm-6">
                        <label class="form-label" for="password">Contraseña Actual:</label>
                        <input class="form-control" type="password" name="password" id="password" maxlength="15">
                    </div>
                    <div class="col-sm-6">
                        <label class="form"></label>
                        <input class="form-control-plaintext" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="new_pass">Nueva Contraseña:</label>
                        <input class="form-control" type="password" name="new_password" id="new_password" maxlength="15">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="confirm_pass">Confirmar Contraseña:</label>
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password" maxlength="15">
                    </div>
                    <div class="col-12 d-flex justify-content-end pt-3">
                        {% if user.es_estudiante == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil" %}">Cancelar</a>
                        {% elif user.es_profesor == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil" %}">Cancelar</a>
                        {% endif %}
                        <button class="btn btn-success px-4 py-2">Guardar Cambios</button>
                    </div>
                    {% if error2 %}
                    <div class="toast-container position-fixed top-0 end-0 pt-5 mt-5">
                        <div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                            <div class="toast-header">
                                <svg class="bd-placeholder-img rounded me-2" width="20" height="20" aria-hidden="false">
                                    <rect width="100%" height="100%" fill="#ff2c2c"></rect>
                                </svg>
                                <strong class="me-auto">Error de validación de contraseña</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body" style="color:red">
                                {{ error2 }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <form method="POST" action="{% url "eliminar_cuenta" %}" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                    <h2 class="h4 mb-0">Eliminar cuenta</h2>
                </div>
                <div class="alert alert-warning d-flex mb-4">
                    <i class="ai-triangle-alert fs-xl me-2"></i>
                    <p class="mb-0">Si eliminas tu cuenta, perderas el acceso a la plataforma y todo el contenido relacionado con tu cuenta. ¿Estás seguro de que quieres eliminar tu cuenta?</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="confirm" required>
                    <label class="form-check-label text-dark fw-medium" for="confirm">Si, quiero eliminar mi cuenta.</label>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
                    <button class="btn btn-danger px-4 py-2">Eliminar Cuenta</button>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
    // Funciones para los mensajes de error
    document.addEventListener("DOMContentLoaded", function() {
        var errorExists = "{{ error }}" !== "";
        var error2Exists = "{{ error2 }}" !== "";
        if (errorExists) {
            var toastEl = document.getElementById("liveToast");
            var toast = new bootstrap.Toast(toastEl, { delay: 5000 });
            toast.show();
        }
        if (error2Exists) {
            var toastEl2 = document.getElementById("liveToast2");
            var toast2 = new bootstrap.Toast(toastEl2, { delay: 5000 });
            toast2.show();
        }
    });

    // Funciones para la imagen de perfil
    function previewImage(event) {
        const file = event.target.files[0];
        if (!file) return;
        // Validar el tipo de archivo
        const validImageTypes = ["image/jpeg", "image/png"];
        if (!validImageTypes.includes(file.type)) {
            alert("Solo se permiten archivos PNG o JPG.");
            event.target.value = ""; // Limpiar el input
            return;
        }
        // Validar el tamaño del archivo
        const maxSize = 5 * 1024 * 1024; // 5MB
        if (file.size > maxSize) {
            alert("El archivo no debe ser mayor a 5MB.");
            event.target.value = ""; // Limpiar el input
            return;
        }
        const reader = new FileReader();
        reader.onload = function(){
            const output = document.getElementById("profileImageLink");
            output.style.backgroundImage = `url(${reader.result})`;
        }
        reader.readAsDataURL(file);
    }

    function setDefaultImage(event) {
        event.preventDefault();
        const defaultImageUrl = "https://imgur.com/CuXg45K.jpg";
        const output = document.getElementById("profileImageLink");
        output.style.backgroundImage = `url(${defaultImageUrl})`;
        document.getElementById("profileImageInput").value = ""; // Limpia el input
    }

    function handleFormSubmit() {
        const fileInput = document.getElementById("profileImageInput");
        if (!fileInput.value) {
            // Si no hay una imagen seleccionada, limpia el input para evitar cambiar la imagen
            fileInput.name = "";
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const profileImageLink = document.getElementById("profileImageLink");
        if (!profileImageLink.style.backgroundImage || profileImageLink.style.backgroundImage === "none") {
            profileImageLink.style.backgroundImage = "url(https://imgur.com/CuXg45K.jpg)";
        }
    });
</script>

{% endblock %}