{% extends "base/base.html" %}

{% block content %}

<div class="container py-4">
    <div class="text-center my-3">
        <h1>Bienvenido {{ user.nombre }} {{ user.apellidos }}</h1>
    </div>
    {% if user.es_estudiante %}
    <!-- Si el usuario es estudiante -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header">
                    <h3>Cursos Inscritos</h3>
                </div>
                <div class="card-body">
                    {% if cursos_inscritos %}
                        <ul class="list-group">
                            {% for curso in cursos_inscritos %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ curso.nombre }}
                                <a href="{% url 'informacion_curso' curso.id curso.slug %}" class="btn btn-primary btn-sm">Ver Curso</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No estás inscrito en ningún curso.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    <h3>Asesorías Disponibles</h3>
                </div>
                <div class="card-body">
                    {% if asesorias_disponibles %}
                        <div class="row">
                            {% for asesoria in asesorias_disponibles %}
                            <div class="col-md-6">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="card-text"><strong>Curso:</strong> {{ asesoria.curso.nombre }}</p>
                                        <p class="card-text"><strong>Fecha:</strong> {{ asesoria.fecha|date:"d/m/Y" }}</p>
                                        <p class="card-text"><strong>Hora:</strong> {{ asesoria.hora_inicio|time:"H:i" }} - {{ asesoria.hora_fin|time:"H:i" }}</p>
                                        <a href="{{ asesoria.enlace }}" class="btn btn-primary btn-block" target="_blank">Unirse</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No hay asesorías disponibles.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% elif user.es_profesor %}
    <!-- Si el usuario es profesor -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header">
                    <h3>Cursos Creados</h3>
                </div>
                <div class="card-body">
                    {% if cursos_creados %}
                        <ul class="list-group">
                            {% for curso in cursos_creados %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ curso.nombre }}
                                <a href="{% url 'informacion_curso' curso.id curso.slug %}" class="btn btn-primary btn-sm">Ver Curso</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="mb-0">No has creado ningún curso.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    <h3>Estudiantes Inscritos</h3>
                </div>
                <div class="card-body">
                    {% if estudiantes_inscritos %}
                        <ul class="list-group">
                            {% for estudiante in estudiantes_inscritos %}
                            <div class="list-group-item list-group-item-action mb-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="{% if estudiante.usuario.imagen %} {{ estudiante.usuario.imagen.url }} {% else %} https://imgur.com/CuXg45K.jpg {% endif %}" 
                                        class="rounded-circle me-3" alt="{{ estudiante.usuario.nombre }} {{ estudiante.usuario.apellidos }}" style="width: 75px; height: 75px;">
                                        <div class="text-truncate" style="max-width: 250px;">
                                            <h5 class="mb-1">{{ estudiante.usuario.nombre }} {{ estudiante.usuario.apellidos }}</h5>
                                            <p class="mb-1">Carrera: {{ estudiante.carrera }}</p>
                                            <small>Ciclo: {{ estudiante.ciclo }}</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="{% url 'ver_perfil' estudiante.usuario.id estudiante.usuario.slug %}" class="btn btn-primary px-4 py-2 me-2">Ver perfil</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="mb-0">No tienes estudiantes inscritos en tus cursos.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}