{% extends "base/base.html" %}

{% block content %}

<main class="container py-5">
    <div class="bg-white px-3 px-sm-4 px-xl-5 mx-md-n3 mx-lg-auto">
        <div class="container position-relative pt-xl-4 pt-xxl-5 pb-sm-2">
            <div class="row">
                <div class="col-lg-6 col-xxl-5 pb-lg-5 mb-xl-5">
                    <h1 class="display-1 text-center text-lg-start">Bienvenido a <span class="text-primary">MentorULima</span></h1>
                </div>
                <div class="col-lg-5 col-xl-4 offset-lg-1 offset-xxl-2 d-flex flex-column">
                    <p class="text-body fs-xl text-center text-lg-start">Te ayudamos a encontrar el mentor que necesitas para tu desarrollo profesional.</p>
                    <div class="row row-cols-1 row-cols-sm-2 gy-3">
                        <a class="btn btn-primary btn-lg px-4 py-2 w-100" href="/signup/">
                            Registrarse
                        </a>
                        <a class="btn btn-dark btn-lg px-4 py-2 w-100" href="/signin/">
                            Iniciar Sesión
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}