{% extends "base/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Contenido principal -->
        <div class="col-lg-7">
            <div class="row">
                <!-- Barra lateral izquierda -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="{% if user.imagen %} {{ user.imagen.url }} {% else %} https://imgur.com/CuXg45K.jpg {% endif %}" 
                            class="rounded-circle img-fluid mb-3" alt="{{ user.nombre }} {{ user.apellidos }}" style="width: 150px; height: 150px;">
                            <h4>{{ user.nombre }} {{ user.apellidos }}</h4>
                            {% if user.es_estudiante %}
                                <span class="badge bg-primary">Estudiante</span>
                            {% elif user.es_profesor %}
                                <span class="badge bg-primary">Profesor</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Contenido principal -->
                <div class="col-md-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4>Información Personal</h4>
                            <p><strong>Nombre:</strong> {{ user.nombre }}</p>
                            <p><strong>Apellidos:</strong> {{ user.apellidos }}</p>
                            <p><strong>Código:</strong> {{ user.codigo }}</p>
                            <p><strong>Correo:</strong> {{ user.email }}</p>
                            {% if user.es_estudiante %}
                                <p><strong>Carrera:</strong> {{ estudiante.carrera }}</p>
                                <p class="mb-0"><strong>Ciclo:</strong> {{ estudiante.ciclo }}</p>
                            {% elif user.es_profesor %}
                                <p><strong>Profesión:</strong> {{ profesor.profesion }}</p>
                                <p class="mb-0"><strong>Centro laboral:</strong> {{ profesor.centro_laboral }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            {% if user.es_estudiante %}
                                <h4>Cursos Inscritos</h4>
                                <ul class="list-group">
                                    {% if inscripciones %}
                                        {% for inscripcion in inscripciones %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center text-truncate">
                                                {{ inscripcion.curso.nombre }}
                                                <a href="{% url 'informacion_curso' inscripcion.curso.id inscripcion.curso.slug %}" class="btn btn-primary btn-sm">Ver curso</a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="list-group-item text-truncate">No tiene cursos inscritos</li>
                                    {% endif %}
                                </ul>
                            {% elif user.es_profesor %}
                                <h4>Cursos Creados</h4>
                                <ul class="list-group">
                                    {% if cursos %}
                                        {% for curso in cursos %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center text-truncate">
                                                {{ curso.nombre }}
                                                <a href="{% url 'informacion_curso' curso.id curso.slug %}" class="btn btn-primary btn-sm">Ver curso</a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="list-group-item text-truncate">No tiene cursos creados</li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}