<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid ms-3">
        {% if request.user.is_authenticated %}
            <a class="navbar-brand me-5" href="{% url "inicio_user" %}">MentorULima</a>
        {% else %}
            <a class="navbar-brand me-5" href="/">MentorULima</a>
        {% endif %}
        
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    {% if request.user.es_estudiante %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "inicio_user" %}">Inicio</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "buscar_cursos" %}">Buscar cursos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "cursos_estudiante" %}">Cursos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "perfil" %}">Perfil</a>
                    </li>
                    {% endif %}
                    {% if request.user.es_profesor %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "inicio_user" %}">Inicio</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "cursos_profesor" %}">Cursos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url "perfil" %}">Perfil</a>
                    </li>
                    {% endif %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/signout">Cerrar Sesión</a>
                    </li>
                {% else %}
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/signup">Registrarse</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/signin">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>