{% extends "base/base.html" %}

{% block content %}

<main class="container py-4" style="min-height: 80vh;">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-3 my-3">
            <div class="col-12 mb-3">
                <h1>{{ curso.nombre }}</h1>
                <h5 class="text-secondary">Curso</h5>
            </div>
            <ul class="list-group mb-3 custom-sidebar card">
                <li class="list-group-item">
                    <a href="#" onclick="showContent('informacion-curso', this)">Información del curso</a>
                </li>
                <li class="list-group-item">
                    <a href="#" onclick="showContent('contenido-curso', this)">Contenido del curso</a>
                </li>
                <li class="list-group-item">
                    <a href="#" onclick="showContent('asesoria', this)">Asesoría</a>
                </li>
            </ul>
        </div>
        <!-- Contenido del curso -->
        <div class="col-md-9 my-3">
            <!-- Información del curso -->
            <div id="informacion-curso" class="card mb-4 content">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
                        <h1 class="card-title mb-0">{{ curso.nombre }}</h1>
                        <a class="btn btn-secondary px-4 py-2" href="">Editar curso</a>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Descripción:</h5>
                        <p class="card-text">{{ curso.descripcion }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Categoría:</h5>
                        <p class="card-text">{{ curso.categoria }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Nivel:</h5>
                        <p class="card-text">{{ curso.nivel }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Fecha de creación:</h5>
                        <p class="card-text">{{ curso.fecha_creacion }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Última modificación:</h5>
                        <p class="card-text">{{ curso.ultima_modificacion }}</p>
                    </div>
                </div>
            </div>
            <!-- Contenido del curso -->
            <div id="contenido-curso" class="card mb-4 content" style="display: none;">
                <div class="card-body"> 
                    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
                        <h1 class="card-title mb-0">Contenido del curso</h1>
                        <a class="btn btn-success px-4 py-2" href="">Agregar sección</a>
                    </div>
                    <div class="mb-3">
                        <p class="card-text">Aquí puedes incluir el contenido del curso.</p>
                    </div>
                </div>
            </div>
            <!-- Asesoría -->
            <div id="asesoria" class="card mb-4 content" style="display: none;">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
                        <h1 class="card-title mb-0">Asesoría</h1>
                        <a class="btn btn-success px-4 py-2" href="">Agregar asesoría</a>
                    </div>
                    <div class="mb-3">
                        <p class="card-text">Aquí puedes incluir el contenido del curso.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function showContent(id, element) {
        const contents = document.querySelectorAll('.content');
        contents.forEach(content => content.style.display = 'none');
        
        const activeContent = document.getElementById(id);
        if (activeContent) {
            activeContent.style.display = 'block';
        }
        // Manejo de la clase activa en la barra lateral
        const links = document.querySelectorAll('.custom-sidebar .list-group-item a');
        links.forEach(link => link.classList.remove('active'));
        element.classList.add('active');
    }
</script>

{% endblock %}