{% extends "base.html" %}

{% block content %}

<main class="container py-4 d-flex flex-column justify-content-between" style="min-height: 80vh;">
    <div class="flex-column align-items-center">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>Editar Perfil:</h1>
        </div>
        <form method="POST" action="{% url "actualizar_perfil" %}" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h2 class="h4 mb-0">Información personal</h2>
                </div>
                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                    <div class="col-sm-6">
                        <label class="form-label" for="codigo">Código:</label>
                        <input class="form-control" type="text" name="codigo" value={{ user.codigo }} id="codigo" maxlength="8">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="email">Email:</label>
                        <input class="form-control" type="email" name="email" value={{ user.email }} id="email">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="nombre">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" value={{ user.nombre }} id="nombre" maxlength="50">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="apellidos">Apellidos:</label>
                        <input class="form-control" type="text" name="apellidos" value={{ user.apellidos }} id="apellidos" maxlength="100">
                    </div>
                    {% if user.es_estudiante == True %}
                    <div class="col-sm-6">
                        <label class="form-label" for="carrera">Carrera:</label>
                        <select class="form-select" name="carrera" id="carrera">
                            <option value="{{ estudiante.carrera }}">{{ estudiante.carrera }}</option>
                            <option value="Arquitectura">Arquitectura</option>
                            <option value="Administración">Administración</option>
                            <option value="Contabilidad y Finanzas">Contabilidad y Finanzas</option>
                            <option value="Economía">Economía</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Negocios Internacionales">Negocios Internacionales</option>
                            <option value="Comunicación">Comunicación</option>
                            <option value="Derecho">Derecho</option>
                            <option value="Ingeniería Civil">Ingeniería Civil</option>
                            <option value="Ingeniería Industrial">Ingeniería Industrial</option>
                            <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
                            <option value="Psicología">Psicología</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="ciclo">Ciclo:</label>
                        <select class="form-select" name="ciclo" id="ciclo">
                            <option value="{{ estudiante.ciclo }}">{{ estudiante.ciclo }}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    {% elif user.es_profesor == True %}
                    <div class="col-sm-6">
                        <label class="form-label" for="profesion">Profesión:</label>
                        <input class="form-control" type="text" value="{{ profesor.profesion }}" id="profesion" maxlength="100">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="centro_laboral">Centro Laboral:</label>
                        <input class="form-control" type="text" value="{{ profesor.centro_laboral }}" id="centro_laboral" maxlength="100">
                    </div>
                    {% endif %}
                    <div class="col-12 d-flex justify-content-end pt-3">
                        {% if user.es_estudiante == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil_estudiante" %}">Cancelar</a>
                        {% elif user.es_profesor == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url 'perfil_profesor' %}">Cancelar</a>
                        {% endif %}
                        <button class="btn btn-success px-4 py-2">Guardar Cambios</button>
                    </div>
                    {% if error %}
                        <h5 class="text-center mt-3" style="color:red">{{ error }}</h5>
                    {% endif %}
                </div>
            </div>
        </form>
        <form method="POST" action="{% url "cambiar_contrasena" %}" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h2 class="h4 mb-0">Cambiar contraseña</h2>
                </div>
                <div class="row g-3 g-sm-4 mt-0 mt-lg-2">
                    <div class="col-sm-6">
                        <label class="form-label" for="password">Contraseña Actual:</label>
                        <input class="form-control" type="password" name="password" id="password" maxlength="15">
                    </div>
                    <div class="col-sm-6">
                        <label class="form"></label>
                        <input class="form-control-plaintext" disabled>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="new_pass">Nueva Contraseña:</label>
                        <input class="form-control" type="password" name="new_password" id="new_password" maxlength="15">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="confirm_pass">Confirmar Contraseña:</label>
                        <input class="form-control" type="password" name="confirm_password" id="confirm_password" maxlength="15">
                    </div>
                    <div class="col-12 d-flex justify-content-end pt-3">
                        {% if user.es_estudiante == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil_estudiante" %}">Cancelar</a>
                        {% elif user.es_profesor == True %}
                        <a class="btn btn-secondary px-4 py-2 me-2" href="{% url "perfil_profesor" %}">Cancelar</a>
                        {% endif %}
                        <button class="btn btn-success px-4 py-2">Guardar Cambios</button>
                    </div>
                    {% if error1 %}
                        <h5 class="text-center mt-3" style="color:red">{{ error1 }}</h5>
                    {% endif %}
                </div>
            </div>
        </form>
        <form method="POST" action="{% url "eliminar_cuenta" %}" class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                    <h2 class="h4 mb-0">Eliminar cuenta</h2>
                </div>
                <div class="alert alert-warning d-flex mb-4">
                    <i class="ai-triangle-alert fs-xl me-2"></i>
                    <p class="mb-0">Si eliminas tu cuenta, perderas el acceso a la plataforma y todo el contenido relacionado con tu cuenta. ¿Estás seguro de que quieres eliminar tu cuenta?</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="confirm" required>
                    <label class="form-check-label text-dark fw-medium" for="confirm">Si, quiero eliminar mi cuenta.</label>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
                    <button class="btn btn-danger px-4 py-2">Eliminar Cuenta</button>
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}