{% block footer %}

<footer class="footer pt-8 pb-6 f6 bg-dark text-white p-responsive py-4 mt-5" role="contentinfo">
    <div class="container d-flex flex-justify-center flex-items-center flex-column-reverse">
        <div class="rod-flex flex-items-center flex-shrink-0 mx-2w">
            <div class="col-md-6">
                <h5>Mentor ULima</h5>
                <p class="text-muted">© 2024 Mentor ULima. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}