<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        {% if user.usuario_estudiante == True %}
            <a class="navbar-brand" href="{% url 'inicio_estudiante' %}">Mentor ULima</a>
        {% elif user.usuario_profesor == True %}
            <a class="navbar-brand" href="{% url 'inicio_profesor' %}">Mentor ULima</a>
        {% else %}
            <a class="navbar-brand" href="/">Mentor ULima</a>
        {% endif %}
        <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if user.usuario_estudiante == True %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio_estudiante' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'buscar_cursos' %}">Buscar cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cursos_estudiante' %}">Mis cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'perfil_estudiante' %}">Mi Perfil</a>
                        </li>
                    {% endif %}
                    {% if user.usuario_profesor == True %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio_profesor' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cursos_profesor' %}">Mis Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'perfil_profesor' %}">Mi Perfil</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">Cerrar Sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>