<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid ms-3">
        {% if user.es_estudiante == True %}
            <a class="navbar-brand me-5" href="{% url 'inicio_estudiante' %}">MentorULima</a>
        {% elif user.es_profesor == True %}
            <a class="navbar-brand me-5" href="{% url 'inicio_profesor' %}">MentorULima</a>
        {% else %}
            <a class="navbar-brand me-5" href="/">MentorULima</a>
        {% endif %}
        <form class="d-flex" role="buscar">
            <input class="form-control me-2" type="buscar" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {% if user.es_estudiante == True %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'inicio_estudiante' %}">Inicio</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'buscar_cursos' %}">Buscar cursos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'cursos_estudiante' %}">Cursos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                    </li>
                    {% endif %}
                    {% if user.es_profesor == True %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'inicio_profesor' %}">Inicio</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'cursos_profesor' %}">Cursos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="{% url 'perfil' %}">Perfil</a>
                    </li>
                    {% endif %}
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/signout">Cerrar Sesión</a>
                    </li>
                {% else %}
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/signup">Registrarse</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/signin">Iniciar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>