{% extends "base/base.html" %}

{% block content %}

<main class="container py-4" style="min-height: 80vh;">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-3 my-3">
            <div class="col-12 mb-3">
                <h1>{{ curso.nombre }}</h1>
                <h5 class="text-secondary">Curso</h5>
            </div>
            <ul class="list-group mb-3 custom-sidebar card">
                <li class="list-group-item">
                    <a href="{% url "informacion_curso" curso.id curso.nombre %}" class="{% if page == "informacion" %}active{% endif %}">Información del curso</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url "contenido_curso" curso.id curso.nombre %}" class="{% if page == "contenido" %}active{% endif %}">Contenido del curso</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url "asesoria_curso" curso.id curso.nombre %}" class="{% if page == "asesoria" %}active{% endif %}">Asesoría</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url "estudiantes_curso" curso.id curso.nombre %}" class="{% if page == "estudiantes" %}active{% endif %}">Estudiantes</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 my-3">
            {% block innercontent %}
            {% endblock %}
        </div>
    </div>
</main>

{% endblock %}