{% extends "base/base.html" %}

{% block content %}

<main class="container py-4" style="min-height: 80vh;">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-3 my-3">
            <div class="col-12 mb-3">
                <h1>{{ curso.nombre }}</h1>
                <h5 class="text-secondary">Curso</h5>
            </div>
            <ul class="list-group mb-3 custom-sidebar card">
                <li class="list-group-item">
                    <a class="active" onclick="showContent('informacion-curso-contenedor', this)">Información del curso</a>
                </li>
                <li class="list-group-item">
                    <a onclick="showContent('contenido-curso', this)">Contenido del curso</a>
                </li>
                <li class="list-group-item">
                    <a onclick="showContent('asesoria', this)">Asesoría</a>
                </li>
            </ul>
        </div>
        <!-- Contenido del curso -->
        <div class="col-md-9 my-3">
            <!-- Contenedor para la información del curso y eliminación -->
            <div id="informacion-curso-contenedor" class="content" style="display: block;">
                <!-- Información del curso -->
                <div class="card p-xl-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="card-title mb-0">{{ curso.nombre }}</h1>
                            <a class="btn btn-secondary px-4 py-2" data-bs-toggle="modal" data-bs-target="#Modal-EditarCurso">Editar Curso</a>
                        </div>
                        <div class="card custom-card mb-0">
                            <div class="mb-3">
                                <h4 class="card-title">Descripción:</h4>
                                <p class="card-text">{{ curso.descripcion }}</p>
                            </div>
                            <div class="mb-3">
                                <h4 class="card-title">Categoría:</h4>
                                <p class="card-text">{{ curso.categoria }}</p>
                            </div>
                            <div class="mb-3">
                                <h4 class="card-title">Nivel:</h4>
                                <p class="card-text">{{ curso.nivel }}</p>
                            </div>
                            <div class="mb-3">
                                <h4 class="card-title">Fecha de creación:</h4>
                                <p class="card-text">{{ curso.fecha_creacion }}</p>
                            </div>
                            <div class="mb-0">
                                <h4 class="card-title">Última modificación:</h4>
                                <p class="card-text">{{ curso.ultima_modificacion }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Eliminar curso -->
                <div class="card p-xl-3">
                    <form method="POST" action="{% url "eliminar_curso" curso.id %}">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                <h2 class="card-title mb-0">Eliminar curso</h2>
                            </div>
                            <div class="alert alert-warning d-flex mb-4">
                                <i class="ai-triangle-alert fs-xl me-2"></i>
                                <p class="mb-0">Si eliminas este curso, perderás el acceso y todo el contenido relacionado con este curso. ¿Estás seguro de que quieres eliminar este curso?</p>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="confirm" required>
                                <label class="form-check-label text-dark fw-medium" for="confirm">Si, quiero eliminar este curso.</label>
                            </div>
                            <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
                                <button class="btn btn-danger px-4 py-2">Eliminar Curso</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Contenido del curso -->
            <div id="contenido-curso" class="content" style="display: none;">
                <div class="card p-xl-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="card-title mb-0">Contenido del curso</h1>
                            <a class="btn btn-success px-4 py-2" data-bs-toggle="modal" data-bs-target="#Modal-AgregarSeccion">Agregar sección</a>
                        </div>
                        <div class="card custom-card mb-0">
                            {% if secciones %}
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    {% for seccion in secciones %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                            data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                            {{ seccion.nombre }}
                                            </button>
                                        </h2>
                                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}">
                                            <div class="accordion-body">
                                                <strong>{{ seccion.nombre }}.</strong> {{ seccion.descripcion }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <div class="mb-0">
                                <p class="card-text">Aquí puedes incluir el contenido del curso.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Asesoría -->
            <div id="asesoria" class="content" style="display: none;">
                <div class="card p-xl-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="card-title mb-0">Asesoría</h1>
                            <a class="btn btn-success px-4 py-2" href="">Agregar asesoría</a>
                        </div>
                        <div class="card custom-card mb-0">
                            <div class="mb-0">
                                <p class="card-text">Aquí puedes incluir la asesoria del curso.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal para editar curso -->
<div class="modal fade" id="Modal-EditarCurso" tabindex="-1" aria-labelledby="ModalLabel-EditarCurso" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel-EditarCurso">Editar Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url "editar_curso" curso.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre:</span>
                        <input type="text" name="nombre" id="nombre" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" 
                        maxlength="100" placeholder="Nombre" value="{{ curso.nombre }}" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Descripción:</span>
                        <textarea type="text" name="descripcion" id="descripcion" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}" 
                        maxlength="500" placeholder="Descripción del curso" style="height: 150px;" required>{{ curso.descripcion }}</textarea>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="categoria">Categoría:</label>
                        <select class="form-select {% if form.categoria.errors %}is-invalid{% endif %}" name="categoria" id="categoria" required>
                            <option value="{{ curso.categoria }}">{{ curso.categoria }}</option>
                            <option value="Desarrollo">Desarrollo</option>
                            <option value="Negocios">Negocios</option>
                            <option value="Finanzas">Finanzas</option>
                            <option value="Contabilidad">Contabilidad</option>
                            <option value="Informática y Software">Informática y Software</option>
                            <option value="Productividad">Productividad</option>
                            <option value="Diseño">Diseño</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Economía">Economía</option>
                            <option value="Administración">Administración</option>
                            <option value="Derecho">Derecho</option>
                            <option value="Gestión de Proyectos">Gestión de Proyectos</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="nivel">Nivel:</label>
                        <select class="form-select {% if form.nivel.errors %}is-invalid{% endif %}" name="nivel" id="nivel" required>
                            <option value="{{ curso.nivel }}">{{ curso.nivel }}</option>
                            <option value="Principiante">Principiante</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Avanzado">Avanzado</option>
                            <option value="Experto">Experto</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button class="btn btn-primary">Guardar cambios</button>
                    </div>
                    {% if error %}
                    <p class="text-center mt-3" style="color:red">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar sección -->
<div class="modal fade" id="Modal-AgregarSeccion" tabindex="-1" aria-labelledby="ModalLabel-AgregarSeccion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel-AgregarSeccion">Agregar Sección</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url "crear_seccion" curso.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre:</span>
                        <input type="text" name="nombre" id="nombre" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" 
                        maxlength="100" placeholder="Nombre" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Descripción:</span>
                        <textarea type="text" name="descripcion" id="descripcion" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}" 
                        maxlength="500" placeholder="Descripción de la sección" style="height: 150px;" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button class="btn btn-primary">Agregar sección</button>
                    </div>
                    {% if error %}
                    <p class="text-center mt-3" style="color:red">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showContent(id, element) {
        const contents = document.querySelectorAll('.content');
        contents.forEach(content => content.style.display = 'none');
        
        const activeContent = document.getElementById(id);
        if (activeContent) {
            activeContent.style.display = 'block';
        }
        // Manejo de la clase activa en la barra lateral
        const links = document.querySelectorAll('.custom-sidebar .list-group-item a');
        links.forEach(link => link.classList.remove('active'));
        element.classList.add('active');
    }
</script>

{% endblock %}