{% extends "curso/detalle_curso.html" %}
{% load static %}

{% block innercontent %}

<!-- Contenedor para la información del curso y eliminación -->
<div id="informacion-curso-contenedor" class="content" style="display: block;">
    <!-- Información del curso -->
    <div class="card p-xl-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="card-title" style="max-width: 70%;">{{ curso.nombre }}</h1>
                {% if request.user.es_profesor and curso.profesor == request.user.profesor %}
                <a class="btn btn-secondary px-4 py-2" data-bs-toggle="modal" data-bs-target="#Modal-EditarCurso">Editar Curso</a>
                {% endif %}
                <!-- Botones de Inscripción y Eliminación -->
                {% if request.user.es_estudiante %}
                    {% if not is_inscrito %}
                    <form method="POST" action="{% url "inscribir_curso" curso.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success px-4 py-2">Inscribirse</button>
                    </form>
                    {% else %}
                    <form method="POST" action="{% url "retirar_curso" curso.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger px-4 py-2">Retirarse del curso</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card custom-card mb-0">
                <div class="mb-3">
                    <h5 class="card-title">Descripción:</h5>
                    <p class="card-text">{{ curso.descripcion }}</p>
                </div>
                <div class="mb-3 d-flex align-items-baseline">
                    <h5 class="card-title me-2">Categoría:</h5>
                    <p class="card-text mb-0">{{ curso.categoria }}</p>
                </div>
                <div class="mb-3 d-flex align-items-baseline">
                    <h5 class="card-title me-2">Nivel:</h5>
                    <p class="card-text mb-0">{{ curso.nivel }}</p>
                </div>
                <div class="mb-3 d-flex align-items-baseline">
                    <h5 class="card-title me-2">Fecha de creación:</h5>
                    <p class="card-text mb-0">{{ curso.fecha_creacion|date:"d/m/Y" }}</p>
                </div>
                <div class="d-flex align-items-baseline">
                    <h5 class="card-title me-2">Última modificación:</h5>
                    <p class="card-text mb-0">{{ curso.ultima_modificacion|date:"d/m/Y" }}</p>
                </div>
                {% if request.user.es_estudiante %}
                <div class="list-group mt-3">
                    <div class="list-group-item list-group-item-action mb-0">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="{% if curso.profesor.usuario.imagen %} {{ curso.profesor.usuario.imagen.url }} {% else %} https://imgur.com/CuXg45K.jpg {% endif %}" 
                                class="rounded-circle me-3" alt="{{ curso.profesor.usuario.nombre }} {{ curso.profesor.usuario.apellidos }}" style="width: 75px; height: 75px;">
                                <div class="text-truncate" style="max-width: 250px;">
                                    <h5 class="mb-1">{{ curso.profesor.usuario.nombre }} {{ curso.profesor.usuario.apellidos }}</h5>
                                    <p class="mb-1">Profesión: {{ curso.profesor.profesion }}</p>
                                    <small>Centro Laboral: {{ curso.profesor.centro_laboral }}</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="{% url "ver_perfil" curso.profesor.usuario.id curso.profesor.usuario.slug %}" class="btn btn-primary px-4 py-2 me-2">Ver perfil</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if request.user.es_profesor and curso.profesor == request.user.profesor %}
    <!-- Eliminar curso -->
    <div class="card p-xl-3 mt-3">
        <form method="POST" action="{% url "eliminar_curso" curso.id %}">
            {% csrf_token %}
            <div class="card-body">
                <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                    <h2 class="card-title mb-0">Eliminar curso</h2>
                </div>
                <div class="alert alert-warning d-flex mb-4">
                    <i class="ai-triangle-alert fs-xl me-2"></i>
                    <p class="mb-0">Si eliminas este curso, perderás el acceso y todo el contenido relacionado con este curso. ¿Estás seguro de que quieres eliminar este curso?</p>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="confirm" required>
                    <label class="form-check-label text-dark fw-medium" for="confirm">Si, quiero eliminar este curso.</label>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-end pt-4 mt-sm-2 mt-md-3">
                    <button class="btn btn-danger px-4 py-2">Eliminar Curso</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>

<!-- Modal para editar curso -->
<div class="modal fade" id="Modal-EditarCurso" tabindex="-1" aria-labelledby="ModalLabel-EditarCurso" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel-EditarCurso">Editar Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url "editar_curso" curso.id %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre:</span>
                        <input type="text" name="nombre" id="nombre" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" 
                        maxlength="50" placeholder="Nombre" value="{{ curso.nombre }}" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Descripción:</span>
                        <textarea type="text" name="descripcion" id="descripcion" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}" 
                        maxlength="500" placeholder="Descripción del curso" style="height: 150px;" required>{{ curso.descripcion }}</textarea>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="categoria">Categoría:</label>
                        <select class="form-select {% if form.categoria.errors %}is-invalid{% endif %}" name="categoria" id="categoria" required>
                            <option value="{{ curso.categoria }}">{{ curso.categoria }}</option>
                            <option value="Desarrollo">Desarrollo</option>
                            <option value="Negocios">Negocios</option>
                            <option value="Finanzas">Finanzas</option>
                            <option value="Contabilidad">Contabilidad</option>
                            <option value="Informática y Software">Informática y Software</option>
                            <option value="Productividad">Productividad</option>
                            <option value="Diseño">Diseño</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Economía">Economía</option>
                            <option value="Administración">Administración</option>
                            <option value="Derecho">Derecho</option>
                            <option value="Gestión de Proyectos">Gestión de Proyectos</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="nivel">Nivel:</label>
                        <select class="form-select {% if form.nivel.errors %}is-invalid{% endif %}" name="nivel" id="nivel" required>
                            <option value="{{ curso.nivel }}">{{ curso.nivel }}</option>
                            <option value="Principiante">Principiante</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Avanzado">Avanzado</option>
                            <option value="Experto">Experto</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
                        <button class="btn btn-primary">Guardar cambios</button>
                    </div>
                    {% if error %}
                    <p class="text-center mt-3" style="color:red">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}