{% extends "base.html" %}

{% block content %}

<main class="container py-4 d-flex flex-column justify-content-between" style="min-height: 80vh;">
    <div class="flex-column align-items-center">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>Cursos Disponibles:</h1>
        </div>
        <div class="row">
            {% for curso in page_obj %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="w-100"></div>
                {% endif %}
                <div class="col-md-6 mb-4">
                    <div class="card" style="width: 100%;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="flex-grow-1 me-3" style="overflow: hidden;">
                                <h4 class="card-title text-truncate" style="white-space: nowrap;">{{ curso.nombre }}</h4>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{ curso.categoria }}</h6>
                            </div>
                            <a href="" class="btn btn-primary">Ingresar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-auto">
        <div class="col-md-12">
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</main>

{% endblock %}