{% extends "base.html" %}

{% block content %}

<main class="container py-4 d-flex flex-column justify-content-between" style="min-height: 80vh;">
    <div class="flex-column align-items-center">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>Mis Cursos:</h1>
            {% if page_obj %}
            <a class="btn btn-success px-4 py-2" data-bs-toggle="modal" data-bs-target="#Modal-CrearCurso">Crear Curso</a>
            {% endif %}
        </div>
        {% if page_obj %}
        <div class="row">
            {% for curso in page_obj %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="w-100"></div>
                {% endif %}
                <div class="col-md-6 mb-4">
                    <div class="card" style="width: 100%;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div class="flex-grow-1 me-3" style="overflow: hidden;">
                                <h4 class="card-title text-truncate text-primary" style="white-space: nowrap;">{{ curso.nombre }}</h4>
                                <h6 class="card-subtitle mb-2 text">{{ curso.categoria }}</h6>
                                <h6 class="card-subtitle mb-2 text-secondary">Nivel: {{ curso.nivel }}</h6>
                            </div>
                            <a href="{% url "detalle_curso_profesor" curso.id %}" class="btn btn-primary">Ingresar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">
            <h1 class="text-center text-primary display-1">Crea tu primer curso</h1>
            <a class="btn btn-primary px-5 py-2 mt-3" data-bs-toggle="modal" data-bs-target="#Modal-CrearCurso">Crear Curso</a>
        </div>
        {% endif %}
    </div>
    <div class="row mt-auto">
        <div class="col-md-12">
            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</main>

<div class="modal fade" id="Modal-CrearCurso" tabindex="-1" aria-labelledby="ModalLabel-CrearCurso" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel-CrearCurso">Nuevo Curso</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url "crear_curso" %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre:</span>
                        <input type="text" name="nombre" id="nombre" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" maxlength="100" placeholder="Nombre" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Descripción:</span>
                        <textarea type="text" name="descripcion" id="descripcion" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}" maxlength="250" placeholder="Descripción del curso" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="categoria">Categoría:</label>
                        <select class="form-select {% if form.categoria.errors %}is-invalid{% endif %}" name="categoria" id="categoria" required>
                            <option value=>Elige una categoría</option>
                            <option value="Desarrollo">Desarrollo</option>
                            <option value="Negocios">Negocios</option>
                            <option value="Finanzas">Finanzas</option>
                            <option value="Contabilidad">Contabilidad</option>
                            <option value="Informática y Software">Informática y Software</option>
                            <option value="Productividad">Productividad</option>
                            <option value="Diseño">Diseño</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Economía">Economía</option>
                            <option value="Administración">Administración</option>
                            <option value="Derecho">Derecho</option>
                            <option value="Gestión de Proyectos">Gestión de Proyectos</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="nivel">Nivel:</label>
                        <select class="form-select {% if form.nivel.errors %}is-invalid{% endif %}" name="nivel" id="nivel" required>
                            <option value=>Elige un nivel</option>
                            <option value="Principiante">Principiante</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Avanzado">Avanzado</option>
                            <option value="Experto">Experto</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" data-bs-dismiss="modal">Salir</a>
                        <button class="btn btn-success">Crear</button>
                    </div>
                    {% if error %}
                    <p class="text-center mt-3" style="color:red">{{ error }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}