{% extends 'base.html' %}

{% block content %}

<main class="container py-4 d-flex flex-column justify-content-between" style="min-height: 80vh;">
    <div class="flex-column align-items-center">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h1>{{ user.nombre }} {{ user.apellidos }}</h1>
            <a class="btn btn-secondary px-4 py-2" href="{% url 'editar_perfil' %}">Editar Información</a>
        </div>
        <section class="card card-body mt-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 row">
                        <label for="staticCodigo" class="col-sm-2 col-form-label">Código:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticCodigo" value={{ user.codigo }}>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{ user.email }}>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticProfesion" class="col-sm-2 col-form-label">Profesión:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticProfesion" value={{ profesor.profesion }}>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticCentroLaboral" class="col-sm-2 col-form-label">Centro Laboral:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticCentroLaboral" value={{ profesor.centro_laboral }}>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}