{% extends 'base.html' %}

{% block content %}

<main class="container py-4">
    <div class="my-3 d-flex justify-content-between align-items-center">
        <h1>Mi Perfil:</h1>
        <a class="btn btn-secondary px-4 py-2" href="{% url 'editar_perfil_profesor' %}">Editar Información</a>
    </div>
    <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <img src="https://imgur.com/CuXg45K.jpg" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-12 text-center my-3">
                    <h1>{{ user.nombre }} {{ user.apellidos }}</h1>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 row">
                        <label for="staticCodigo" class="col-sm-4 col-form-label">Código:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="staticCodigo" value="{{ user.codigo }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="staticEmail" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticProfesion" class="col-sm-4 col-form-label">Profesión:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="staticProfesion" value="{{ profesor.profesion }}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticCentroLaboral" class="col-sm-4 col-form-label">Centro Laboral:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly class="form-control" id="staticCentroLaboral" value="{{ profesor.centro_laboral }}">
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </section>
</main>
{% endblock %}