{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <h1 class="display-4 text-center py-3">Soy Profesor</h1>
    <form method="POST" action="{% url 'signup_profesor' %}" class="card card-body col-md-6 offset-md-3">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Código:</span>
            <input type="text" name="codigo" id="codigo" class="form-control {% if form.codigo.errors %}is-invalid{% endif %}" placeholder="Ingresar codigo" maxlength="8" required>
        </div>
        {% if form.codigo.errors %} <p class="text-center" style="color:red">Código inválido o ya existente</p> {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text">Contraseña:</span>
            <input type="password" name="password1" id="password1" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" placeholder="Ingresar contraseña" maxlength="15" required>
            <input type="password" name="password2" id="password2" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" placeholder="Confirmar contraseña" maxlength="15" required>
        </div>
        {% if form.password1.errors or form.password2.errors %} <p class="text-center" style="color:red">Contraseñas inválidas o no coinciden</p> {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text">Correo:</span>
            <input type="email" name="email" id="correo" class="form-control {% if form.correo.errors %}is-invalid{% endif %}" placeholder="Ingresar correo" required>
        </div>
        {% if form.email.errors %} <p class="text-center" style="color:red">Correo inválido o ya existente</p> {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text">Nombres/Apellidos:</span>
            <input type="text" name="nombre" id="nombre" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" maxlength="50" placeholder="Nombres" required>
            <input type="text" name="apellidos" id="apellidos" class="form-control {% if form.apellidos.errors %}is-invalid{% endif %}" maxlength="100" placeholder="Apellidos" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Profesión:</span>
            <input type="text" name="profesion" id="profesion" class="form-control" maxlength="100" placeholder="Ingresar profesion" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Centro Laboral:</span>
            <input type="text" name="centro_laboral" id="centro_laboral" class="form-control" maxlength="100" placeholder="Ingresar Centro Laboral" required>
        </div>
        {% if error %}
            <p class="text-center mt-3" style="color:red">{{ error }}</p>
        {% endif %}
        <div class="text-center py-1">
            <button class="btn btn-dark px-4 py-2">Registrarse</button>
        </div>
    </form>
</main>

{% endblock %}